/*
@media screen and (min-width: 350px) {




}
*/
#loginNav {
	float: right;
	clear: left;

}



#logo {
	text-align: center;
	clear: right;

}

.content {
	margin: 5%;
}

.content h1 {
	font-size: 48px;
}

.content p {
	margin-top: 5%;
}

#logo img {
	width: 50%;
}

#login {
	width: 50%;
}
/*
.linkTable {
	border-radius: 2px;
	border: 2px solid #aaa;
}
*/